// Component: PreviewPanel
// =============================================================================

// Block: Preview panel
// =============================================================================
.previewPanel {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.previewPanel__viewport {
  background-color: var(--atomix-surface);
  transition: max-width var(--atomix-transition-duration-base) var(--atomix-easing-base), 
              max-height var(--atomix-transition-duration-base) var(--atomix-easing-base);
}

// Accessibility Enhancements
// =============================================================================
@media (prefers-reduced-motion: reduce) {
  .previewPanel__viewport {
    transition: none;
  }
}
