/**
 * Accordion Component Variable Overrides
 * =============================================================================
 * 
 * Standard accordion styling for Atomix documentation.
 * 
 * @see https://atomix.design/docs/components/accordion
 */

@use '../../../node_modules/@shohojdhara/atomix/src/styles/01-settings/settings.accordion';
