/**
 * Avatar Component Variable Overrides
 * =============================================================================
 * 
 * Standard avatar styling for Atomix documentation.
 * 
 * @see https://atomix.design/docs/components/avatar
 */

@use '../../../node_modules/@shohojdhara/atomix/src/styles/01-settings/settings.avatar';
