/**
 * Breadcrumb Component Variable Overrides
 * =============================================================================
 * 
 * Standard breadcrumb styling for Atomix documentation.
 * 
 * @see https://atomix.design/docs/components/breadcrumb
 */

@use '../../../node_modules/@shohojdhara/atomix/src/styles/01-settings/settings.breadcrumb';
