/**
 * Callout Component Variable Overrides
 * =============================================================================
 * 
 * Standard callout styling for Atomix documentation.
 * 
 * @see https://atomix.design/docs/components/callout
 */

@use '../../../node_modules/@shohojdhara/atomix/src/styles/01-settings/settings.callout';
