/**
 * Card Component Variable Overrides
 * =============================================================================
 * 
 * Standard card styling for Atomix documentation.
 * 
 * @see https://atomix.design/docs/components/card
 */

@use '../../../node_modules/@shohojdhara/atomix/src/styles/01-settings/settings.card' with (
  // Spacing
  $card-spacer-y: 1.25rem,
  $card-spacer-x: 1.25rem,

  // Border Radius
  $card-border-radius: 0.5rem,

  // Styles
  $card-border-width: 1px
);
