/**
 * Card Component Variable Overrides
 * =============================================================================
 * 
 * Standard card styling for Atomix documentation.
 * 
 * @see https://atomix.design/docs/components/card
 */

@use '../../../node_modules/@shohojdhara/atomix/src/styles/01-settings/settings.card' with (
  // Spacing
  $card-spacer-y: 1.5rem,
  $card-spacer-x: 1.5rem,

  // Border Radius
  $card-border-radius: 1rem,

  // Styles
  $card-border-width: 1px,
  $card-bg: var(--atomix-primary-bg-subtle),
  $card-bg-hover: var(--atomix-secondary-bg-subtle),
  $card-icon-padding: 0.75rem
);
