/**
 * Checkbox Component Variable Overrides
 * =============================================================================
 * 
 * Standard checkbox styling for Atomix documentation.
 * 
 * @see https://atomix.design/docs/components/checkbox
 */

@use '../../../node_modules/@shohojdhara/atomix/src/styles/01-settings/settings.checkbox';
