/**
 * Datepicker Component Variable Overrides
 * =============================================================================
 * 
 * Standard datepicker styling for Atomix documentation.
 * 
 * @see https://atomix.design/docs/components/datepicker
 */

@use '../../../node_modules/@shohojdhara/atomix/src/styles/01-settings/settings.datepicker';
