/**
 * Data Table Component Variable Overrides
 * =============================================================================
 * 
 * Standard data-table styling for Atomix documentation.
 * 
 * @see https://atomix.design/docs/components/data-table
 */

@use '../../../node_modules/@shohojdhara/atomix/src/styles/01-settings/settings.data-table';
