/**
 * Dropdown Component Variable Overrides
 * =============================================================================
 * 
 * Standard dropdown styling for Atomix documentation.
 * 
 * @see https://atomix.design/docs/components/dropdown
 */

@use '../../../node_modules/@shohojdhara/atomix/src/styles/01-settings/settings.dropdown' with (
  $dropdown-border-radius: 0.75rem
);
