/**
 * Hero Component Variable Overrides
 * =============================================================================
 * 
 * Standard hero styling for Atomix documentation.
 * 
 * @see https://atomix.design/docs/components/hero
 */

@use '../../../node_modules/@shohojdhara/atomix/src/styles/01-settings/settings.hero';
