/**
 * Input Component Variable Overrides
 * =============================================================================
 * 
 * Standard input styling for Atomix documentation.
 * 
 * @see https://atomix.design/docs/components/input
 */

@use '../../../node_modules/@shohojdhara/atomix/src/styles/01-settings/settings.input' with (
  // Typography
  $input-font-size: 1rem,
  $input-font-size-sm: 0.875rem,
  $input-font-size-lg: 1.125rem,
  $input-line-height-md: 1.5,
  $input-line-height-sm: 1.5,
  $input-line-height-lg: 1.5,

  // Padding
  $input-padding-y: 0.375rem,
  $input-padding-x: 0.75rem,
  $input-padding-y-sm: 0.25rem,
  $input-padding-x-sm: 0.5rem,
  $input-padding-y-lg: 0.5rem,
  $input-padding-x-lg: 1rem,

  // Border Radius
  $input-border-radius: 0.375rem,

  // Textarea
  $input-textarea-height: auto,
  $input-textarea-height-sm: auto,
  $input-textarea-height-lg: auto
);
