/**
 * List Component Variable Overrides
 * =============================================================================
 * 
 * Standard list styling for Atomix documentation.
 * 
 * @see https://atomix.design/docs/components/list
 */

@use '../../../node_modules/@shohojdhara/atomix/src/styles/01-settings/settings.list';
