/**
 * Menu Component Variable Overrides
 * =============================================================================
 * 
 * Standard menu styling for Atomix documentation.
 * 
 * @see https://atomix.design/docs/components/menu
 */

@use '../../../node_modules/@shohojdhara/atomix/src/styles/01-settings/settings.menu';
