/**
 * Messages Component Variable Overrides
 * =============================================================================
 * 
 * Standard messages styling for Atomix documentation.
 * 
 * @see https://atomix.design/docs/components/messages
 */

@use '../../../node_modules/@shohojdhara/atomix/src/styles/01-settings/settings.messages';
