/**
 * Nav Component Variable Overrides
 * =============================================================================
 * 
 * Standard nav styling for Atomix documentation.
 * 
 * @see https://atomix.design/docs/components/nav
 */

@use '../../../node_modules/@shohojdhara/atomix/src/styles/01-settings/settings.nav';
