/**
 * Pagination Component Variable Overrides
 * =============================================================================
 * 
 * Standard pagination styling for Atomix documentation.
 * 
 * @see https://atomix.design/docs/components/pagination
 */

@use '../../../node_modules/@shohojdhara/atomix/src/styles/01-settings/settings.pagination';
