/**
 * Popover Component Variable Overrides
 * =============================================================================
 * 
 * Standard popover styling for Atomix documentation.
 * 
 * @see https://atomix.design/docs/components/popover
 */

@use '../../../node_modules/@shohojdhara/atomix/src/styles/01-settings/settings.popover';
