/**
 * Rating Component Variable Overrides
 * =============================================================================
 * 
 * Standard rating styling for Atomix documentation.
 * 
 * @see https://atomix.design/docs/components/rating
 */

@use '../../../node_modules/@shohojdhara/atomix/src/styles/01-settings/settings.rating';
