/**
 * Select Component Variable Overrides
 * =============================================================================
 * 
 * Standard select styling for Atomix documentation.
 * 
 * @see https://atomix.design/docs/components/select
 */

@use '../../../node_modules/@shohojdhara/atomix/src/styles/01-settings/settings.select';
