/**
 * Skeleton Component Variable Overrides
 * =============================================================================
 * 
 * Standard skeleton styling for Atomix documentation.
 * 
 * @see https://atomix.design/docs/components/skeleton
 */

@use '../../../node_modules/@shohojdhara/atomix/src/styles/01-settings/settings.skeleton';
