/**
 * Slider Component Variable Overrides
 * =============================================================================
 * 
 * Standard slider styling for Atomix documentation.
 * 
 * @see https://atomix.design/docs/components/slider
 */

@use '../../../node_modules/@shohojdhara/atomix/src/styles/01-settings/settings.slider';
