/**
 * Spinner Component Variable Overrides
 * =============================================================================
 * 
 * Standard spinner styling for Atomix documentation.
 * 
 * @see https://atomix.design/docs/components/spinner
 */

@use '../../../node_modules/@shohojdhara/atomix/src/styles/01-settings/settings.spinner';
