/**
 * Steps Component Variable Overrides
 * =============================================================================
 * 
 * Standard steps styling for Atomix documentation.
 * 
 * @see https://atomix.design/docs/components/steps
 */

@use '../../../node_modules/@shohojdhara/atomix/src/styles/01-settings/settings.steps';
