/**
 * Tabs Component Variable Overrides
 * =============================================================================
 * 
 * Standard tabs styling for Atomix documentation.
 * 
 * @see https://atomix.design/docs/components/tabs
 */

@use '../../../node_modules/@shohojdhara/atomix/src/styles/01-settings/settings.tabs';
