/**
 * Toggle Component Variable Overrides
 * =============================================================================
 * 
 * Standard toggle styling for Atomix documentation.
 * 
 * @see https://atomix.design/docs/components/toggle
 */

@use '../../../node_modules/@shohojdhara/atomix/src/styles/01-settings/settings.toggle';
