/**
 * Tooltip Component Variable Overrides
 * =============================================================================
 * 
 * Standard tooltip styling for Atomix documentation.
 * 
 * @see https://atomix.design/docs/components/tooltip
 */

@use '../../../node_modules/@shohojdhara/atomix/src/styles/01-settings/settings.tooltip';
