// Component: ModeToggle
// =============================================================================

// Block: Mode toggle
// =============================================================================
.modeToggle {
  display: flex;
  align-items: center;
  gap: var(--atomix-spacing-1);
  border-radius: var(--atomix-border-radius);
  padding: var(--atomix-spacing-1);
  background-color: var(--atomix-secondary-bg-subtle);
  border: 1px solid var(--atomix-border-color);
}

.modeToggle__button {
  display: flex;
  align-items: center;
  gap: var(--atomix-spacing-2);
}

