// Component: UndoRedo
// =============================================================================

// Block: Undo redo
// =============================================================================
.undoRedo {
  display: flex;
  align-items: center;
  gap: var(--atomix-spacing-1);
  border-radius: var(--atomix-border-radius);
  padding: var(--atomix-spacing-1);
  background-color: var(--atomix-secondary-bg-subtle);
  border: 1px solid var(--atomix-border-color);
}

.undoRedo__button {
  min-width: auto;
  padding: var(--atomix-spacing-2);
}

