// Component: ComponentLoading
// =============================================================================

// Block: Base component loading
// =============================================================================
.componentLoading {
  box-sizing: border-box;
  
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  padding: var(--atomix-spacing-xl);
}

// Accessibility
// =============================================================================
@media (prefers-reduced-motion: reduce) {
  .componentLoading {
    * {
      animation: none;
      transition: none;
    }
  }
}