@use "../../../node_modules/@shohojdhara/atomix/src/styles/01-settings/settings.background" with (
    $background-enable-gradient-overlay: false,
    $background-transparency-enable: false,
    $background-enable-with-shadow: false,
    $background-transparency: 0.8,
);