@use "../../../node_modules/@shohojdhara/atomix/src/styles/01-settings/settings.border-radius"
  with (
  $border-radius: 0.5rem,
  $border-radius-sm: 0.375rem,
  $border-radius-md: 0.5rem,
  $border-radius-lg: 0.75rem,
  $border-radius-xl: 1rem,
  $border-radius-pill: 9999px
);

