@use '../../../node_modules/@shohojdhara/atomix/src/styles/01-settings/settings.box-shadow' with (
    $box-shadow-xs: 0 1px 2px 0 rgba(0, 0, 0, 0.05),
    $box-shadow-sm: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    $box-shadow-md: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    $box-shadow-lg: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    $box-shadow-xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25),
    $box-shadow-inset: inset 0 1px 2px 0 rgba(0, 0, 0, 0.05),
);